.popup2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.popup-inner2 {
    position: relative;
    padding: 32px;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
}