.breakfast-page {
    height: 100%;
    border-bottom: 375px solid #3dc253;
}
.food-list {
    width: 80vw;
    /* height: 50%; */
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    /* flex: 1 1 80px; */
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
    background-color: rgb(223, 200, 200);
    margin-top: 50px;
}
.meal-totals {
    width: 80vw;
    background-color: rgb(223, 200, 200);
    /* border: 1px solid black; */
    box-shadow: 10px 7px 10px rgb(109, 112, 112);
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
}

@media(max-width: 650px) {
    .breakfast-page {
        height: 100%;
        /* border-top: 100px solid #3dc253; */
        padding-bottom: 168px;
    }
}