.home {
    display: grid;
    grid-template: 100vh / 2fr 1fr;
    align-items: center;
}

#calorie-info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#calorie-info h3 {
    color: #210388;
}

#calorie-info button {
    background: none;
    outline: none;
    border: none;
    font-weight: bolder;
    font-size: 24px;
}

section h3 {
    font-size: 20px;
    padding-bottom: 20px;
}

section h4 {
    font-size: 18px;
}

#meals {
    background-color: #489fb7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border-left: 6px outset black;
}

#meals ul li {
    padding-top: 90px;
    margin: 20px;
}

#meals a{
    text-decoration: none;
    list-style-type: none;
    color: #1ee165;
    font-size: 20px;
    font-weight: bold;
}

#meals a:hover {
    color: salmon;
}

.calorie-consumed-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: salmon;
  }