.popup-box {
    position: fixed;
    background-color: blue;
    width: 100%;
    height: 70vh;
    top: 0;
    left: 0;
}
.box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background-color: rgb(194, 189, 189);
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
  .box p {
    font-weight: bold;
  }
   
  .close-icon {
    /* content: 'x'; */
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }
  .check-icon {
  background-color: #3dc253;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none
  }
  .check-icon:hover {
    border: 2px solid black;
    transition: 1ms linear;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}