* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  /* height: 100vh; */
  text-align: center;
  background-color: #3dc253;
  /* height: 100%; */
  
  /* background-color: #86fc45; */
}
/* .calorie-consumed-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: salmon;
} */

