* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  text-decoration: none;
}

nav li a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.foodDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: right;
}

.addFoodBtn {
  position:relative;
  background-color: black;
  color: white;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 40px;
  border: 1px solid black;
  margin-left: 90%;
  margin-top: 5%;
}

.lunch-list {
  padding: 10px;

}

.lunch-list-data {
  box-shadow: 8px 7px 15px ;
  background-color: #eff5f2;
  text-transform: lowercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  flex-direction: column;
}

@media(max-width: 700px) {
  .addFoodBtn {
    margin-left: 0%;
  }
}